.banner {
    height: 81rem;
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../../assets/images/photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1rem solid var(--black);
}