.section {
    background-color: var(--two);
    padding-top: 5rem;
    padding-bottom: 10rem;
    border-bottom: 1rem solid var(--one);
}

.section .title {
    margin-bottom: 6rem;
}

.section .wrapper-principal {
    display: flex;
    justify-content: center;
}