.skills {
    height: 73rem;
    background-color: var(--two);
    padding-top: 5rem;
    border-bottom: 1rem solid var(--one);
}

.skills .title {
    margin-bottom: 6rem;
}

.skills .wrapper-principal {
    display: flex;
    justify-content: center;
}