.title {
    color: var(--one);
    font-family: 'Press Start 2P', sans-serif;
    font-size: 4rem;
    line-height: 4rem;
    text-shadow: 0.4rem 0.4rem 0 var(--black);
}

.title.-second {
    color: var(--white);
    text-align: center;
    text-shadow: none;
}